@import "tailwindcss";

body {
    font-family: Poppins, sans-serif;
    font-weight: 500;
}



@theme {
    /* Primary */
    --color-blue-50: hsl(230, 23%, 95%);
    --color-blue-300: hsl(181, 56%, 75%);
    --color-blue-400: hsl(180, 66%, 49%);

    --color-purple-950: hsl(257, 27%, 26%);

    /* Secondary */
    --color-red-400: hsl(0, 87%, 67%);

    /* Neutral */
    --color-gray-400: hsl(0, 0%, 75%);
    --color-gray-500: hsl(257, 7%, 63%);
    --color-gray-900: hsl(255, 11%, 22%);
    --color-gray-950: hsl(260, 8%, 14%);
}